<section id="donation_module">
  <section class="action soft-box-shadow">
    <h2><%= raw content_module.title %></h2>
    <%= raw content_module.content %>
  </section>

  <section>
    <%= render :partial => "form_errors" %>

    <%= form_for @member, :as => "member_info", :url => donate_with_credit_card_action_path(I18n.locale.to_s), :method => :post,
          :html => {:id => 'action_form', :class => 'donation'} do |f| %>

      <fieldset>
        <%= render :partial => "actions/action_form/user_details", :locals =>
            { :action_content => @action_content, :content_module => content_module, :f => f } %>
      </fieldset>
    
      <%= fields_for "action_info" do |fai| %>
        <fieldset>
          <%= hidden_field_tag "classification", content_module.classification if content_module.respond_to? :classification %>

          <%= field_tag :currency do %>
            <%= fai.select(:currency, options_for_currency_select(content_module), {},
                {:required => true, :title => t('validations.currency_required')}) %>
          <% end %>

          <% content_module.options.suggested_amounts.attributes.each do |currency_code, amounts| %>
            <% default_amount = content_module.options.default_amount.attributes[currency_code] %>
            <% currency = Money::Currency.new(currency_code) %>
            <div class="suggested_amounts_wrapper amounts_for_currency_<%= currency_code %>">
              <% amounts.split(",").each do |amount| %>
                <span class="suggested_amount">
                  <%= radio_button_tag "action_info[amount_for_#{currency_code}]", amount, (amount == default_amount) %>
                  <%= label_tag "action_info[amount_for_#{currency_code}]_#{amount}", Money.from_numeric(amount.to_f, currency).format(:no_cents_if_whole => true), :class => "label_for_radio" %>
                </span>
              <% end %>
              <span class="suggested_amount_other">
                <%= label_tag "action_info[amount_for_#{currency_code}]_other", :class => "label_for_radio" do %>
                  <%= radio_button_tag "action_info[amount_for_#{currency_code}]", "other" %>
                  <%= t('actions.donations.suggested_amount_other') %>
                  <%= currency.symbol %>
                  <%= text_field_tag "action_info[other_amount_for_#{currency_code}]", {}, :type => "number", :step => "0.01", :min => "0.01" %>
                <% end %>
              </span>
            </div>
          <% end %>
        </fieldset>

        <fieldset>
          <%= field_tag :card_type do %>
            <%= fai.select(:card_type, options_for_card_type_select, {},
                :required => true, :title => t('validations.card_type_required')) %>
          <% end %>

          <%= image_tag 'cc_flags.png', :class => 'cc_flags' %>
          
          <%= field_tag :name_on_card do %>
            <%= fai.text_field :name_on_card, :required => true, :title => t('validations.name_on_card_required')  %>
            <%= fai.label :name_on_card, t('actions.donations.name_on_card') %>
          <% end %>

          <%= field_tag :card_number do %>
            <%= fai.text_field :card_number, :type => 'creditcard', :required => true, :autocomplete => 'off' %>
            <%= fai.label :card_number, t('actions.donations.card_number') %>
          <% end %>
          
          <span class="expiration_date">
            <%= t('actions.donations.expiration_date') %>
          </span>

          <%= field_tag :card_expiration_month do %>
            <%= fai.select(:card_expiration_month, options_for_month_select, {}, :required => true,
                :title => t('validations.cc_month_required')) %>
          <% end %>

          <%= field_tag :card_expiration_year do %>
            <%= fai.select(:card_expiration_year, options_for_year_select, {}, :required => true,
                :title => t('validations.cc_year_required')) %>
          <% end %>

          <%= field_tag :card_cvv2 do %>
            <%= fai.text_field :card_cvv2, :required => true, :title => t('validations.cvv2_required') %>
            <%= fai.label :card_cvv2, t('actions.donations.card_cvv2') %>
          <% end %>

          <span class="cvv2_hint">
            <%= t('actions.donations.cvv2_hint') %>
          </span>
            
          <p id="optin"><%= raw t('petitions.show.optin') %></p>
          <%= f.submit content_module.options.button_text, :id => "action_submit", :disable_with => t('please_wait') %>
          <%= image_tag 'ssl_digicert.png', :class => 'ssl_digicert' %>

        </fieldset>
      <% end %>
      
      <fieldset data-title="<%= t('or') %>">
        <a href="#paypal_donation_popup" id="paypal_donation"><span><%= t('actions.donations.pay_through_paypal_express') %></span><%= image_tag 'paypal.png' %></a>
      </fieldset>
    <% end %>

    <%= render :partial => 'actions/donations/paypal_form', :locals => { :content_module => content_module } %>
  </section>
</section>
