<% content_for :header do %>
  <!-- mobile CSS - Trilogy addition -->
  <%= javascript_include_tag "layout.js" %>
  <!-- /Mobile Javascript - Trilogy addition -->
 <% end %> 
 
<% if content_module.content %>
  <div id="explanatory_text"><%= raw content_module.content %></div>
<% end %>

<section class="action soft-box-shadow">
  <h2><%= raw content_module.title %></h2>
  <%= raw content_module.options.petition_statement %>
</section>

<section>
  <%= render :partial => "form_errors" %>

  <%= form_for @member, :as => "member_info", :url => take_action_action_path(I18n.locale.to_s), :method => :post,
        :html => {:id => 'action_form', :class => 'petition action_form_wrapper soft-box-shadow'} do |f| %>
    <%= render :partial => "actions/action_form/user_details", :locals => { :action_content => @action_content,
      :content_module => content_module, :f => f } %>

    <% if comments_enabled?(content_module) %>
      <%= fields_for :action_info do |ai| %>
        <p class='field_wrapper comment'>
          <%= ai.label :comment, content_module.options.comment_label, :class => 'simple-label' %>
          <%= ai.text_area :comment, :maxlength => 200, :rows => 4, :placeholder => content_module.options.comment_text %>
          <span class='counter' id='member_action_comment_length_message'><%= t('validations.characters_left') %></span>
        </p>
      <% end %>
    <% end %>

    <p id="optin"><%= raw t('petitions.show.optin') %></p>

    <%= f.submit content_module.options.button_text, :id => "action_submit" %>
  <% end %>
</section>